<table class='scoreboard'>
  <thead>
    <tr>
      <th class='left'>Player</th>
      <th class='right'>Shots</th>
      <th class='right'>Hits</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td class='right'>5</td>
      <td class='right'>3</td>
    </tr>
    <tr>
      <td>2</td>
      <td class='right'>7</td>
      <td class='right'>4</td>
    </tr>
    <tr>
      <td>3</td>
      <td class='right'>5</td>
      <td class='right'>4</td>
    </tr>
    <tr>
      <td>4</td>
      <td class='right'>7</td>
      <td class='right'>4</td>
    </tr>
    <tr>
      <td>5</td>
      <td class='right'>6</td>
      <td class='right'>4</td>
    </tr>
  </tbody>
</table>
