<table class='players'>
  <thead>
    <tr>
      <th class='right'>Shooter</th>
      <th class='left'>Target</th>
    </tr>
  </thead>
  <tbody>
    {{#each shots}}
      <tr>
        <td>{{shooter}}</td>
        <td>{{target}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
