<table class='players'>
  <thead>
    <tr>
      <th class='right'>id</th>
      <th class='left'>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each teams}}
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
