* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 24px;
  color: #333;
}


h1 {
  font-size: 24px;
}

nav {
  margin-bottom: 24px;
}

nav ul {
  margin: 12px 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  flex-basis: 100px;
  flex-grow: 1;

  display: flex;
}

nav ul li a {
  flex: 1;

  padding: 12px;
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #333;
  color: white;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.scoreboard th {
  width: 70px;
}

.scoreboard {
  border-collapse: collapse;
}
.scoreboard th, .scoreboard td {
  border-width: 1px;
  border-style: solid none;
  border-color: #ccc;
  padding: 2px;
}

.scoreboard th {
  border-color: #333;
}
